@import "../node_modules/bootstrap/scss/bootstrap";
/*Mui scaling is 8px so (pl:2)= 8px * 2 =16px8*/
/*
.nav-tabs .nav-link {
   
    border: none; 
    border-top-left-radius: none; 
    background-color: none;
    color:black;
   
}
 background-image:url(https://daks2k3a4ib2z.cloudfront.net/5825f89e8ad305816466d37f/583e146240b743510c55b186_techhire-wavy.svg);
.nav-tabs {
    border-bottom: none;
}
.nav-tabs .nav-link.active, .nav-tabs .nav-item.show .nav-link {
   
    background-color: #fff0;

  .Freshman{
    padding-left:10px;
    padding-right:10px;
}  
    .Freshman{
        padding-left:0px;
        padding-right:0px;
    }
    
}

 .nav-item{
        text-align: center;
        width:fit-content;
        color:black;
        background-color: #fff0;
        flex:1;
       
    }

     @keyframes hover-underline-animation{
  0%{
    background-position: 0% 100%;
    opacity: 0;
}
  25%{
    background-position: 25% 100%;
    opacity: .25;
}
  50%{
    background-position: 50% 100%;
    opacity: .50;
}
  75%{
    background-position: 75% 100%;
    opacity: .75;
}
  100%{
    background-position: 100% 100%;
    opacity: 1;
}
   }


   breakpoints
    xs: 0,
    sm: 600px,
    md: 900px,
    lg: 1200px,
    xl: 1526px,
    xxl: 2000px
*/

.offcanvas-lg{
    --bs-offcanvas-width:250px;
}

//navigation bar container
.navigationBar{
   margin-top: 15px;
}
.offcanvas-body{
    width: 100%;
    background-color: #f8f7f3;
}
.offcanvas-header{
    background-color: #f8f7f3;
}

//smaller than md logo
.Logo{
    max-width: 225px;
    color:black;
    padding-left: 28px;
    
}
.linkObj{
    color:black;
    font-size: 20px;  
}

.nav-link{
    width:fit-content;
}

#hover-underline-animation { 
    display: inline-block;
    position: relative;
 }

#hover-underline-animation:after{
    content: '';
    position: absolute;
    width: 100%;
    transform: scaleX(0);
    height: 2px;
    bottom: 0;
    left: 0;
    transform-origin: bottom right;
    transition: transform 0.5s ease-out;
    background-color: #F23E71;
   
}

#hover-underline-animation:hover::after {
    transform: scaleX(1);
    transform-origin: bottom left;
  }

.nav-item{
    text-align: center;
}
.nav{

    font-family: 'Epilogue';
    display: block;
}

//lg and up for timeline
@include media-breakpoint-up(lg) {
   .nav-item{
        justify-content: center;
        font-family: 'Epilogue';
        display: flex;
   }
    .nav{
        display: flex;
        justify-content: center;
        font-family: 'Epilogue';
        width: 100%;
        padding-left: 40px;
        padding-top: 15px;
        padding-right: 40px;
    }
    .linkObj{
        color:black;
        font-family: 'Epilogue';
        font-size: 30px;
    }
    .nav-link{
        width:fit-content;
        --bs-nav-link-padding-x:3rem;
    }
    

}

//lg and up for logo
@include media-breakpoint-up(lg) {
    .Logo{
        max-width:300px;
        padding-left: 28px;
    }
  
}


#show{
    visibility: visible;
}

@include media-breakpoint-down(lg){
    #show{
        visibility: visible;
        padding-left: 40px;
        padding-right: 40px;
        padding-top: 10px;
    }
    #gradeY{
        padding-left: 40px;
        padding-right: 40px;
        padding-top: 10px;
        font-size: 35px;
    }

}
