@import "../node_modules/bootstrap/scss/bootstrap";
/*Mui scaling is 8px so (pl:2)= 8px * 2 =16px8*/
/*
.nav-tabs .nav-link {
   
    border: none; 
    border-top-left-radius: none; 
    background-color: none;
    color:black;
   
}

.nav-tabs {
    border-bottom: none;
}
.nav-tabs .nav-link.active, .nav-tabs .nav-item.show .nav-link {
   
    background-color: #fff0;

  .Freshman{
    padding-left:10px;
    padding-right:10px;
}  
    .Freshman{
        padding-left:0px;
        padding-right:0px;
    }
    
}

 .nav-item{
        text-align: center;
        width:fit-content;
        color:black;
        background-color: #fff0;
        flex:1;
       
    }
*/

.offcanvas-lg{
    --bs-offcanvas-width:250px;
}

//navigation bar container
.navigationBar{
   margin-top: 15px;
}
.offcanvas-body{
    width: 100%;
    background-color: #f8f7f3;
}
.offcanvas-header{
    background-color: #f8f7f3;
}

//smaller than md logo
.Logo{
    max-width: 225px;
    color:black;
    padding-left: 28px;
    
}
.linkObj{
    color:black;
    font-size: 20px;  
}

.nav-link{
    width:fit-content;
}
#hover-underline-animation {
    display: inline-block; /* Display inline block */
    position: relative; /* Set position relative */

  }
  
  #hover-underline-animation:after {
    content: ''; /* Add content after the element */
    position: absolute; /* Position absolute for pseudo-element */
    width: 100%; /* Full width */
    transform: scaleX(0); /* Initial scale of 0 for underline effect */
    height: 2px; /* Height of the underline */
    bottom: 0; /* Align to bottom */
    left: 0; /* Align to left */
    background-color: 
  #0087ca; /* Background color of the underline */
    transform-origin: bottom right; /* Set transform origin */
    transition: transform 0.25s ease-out; /* Transition effect for the underline */
  }
  
  #hover-underline-animation:hover:after {
    transform: scaleX(1); /* Scale the underline on hover */
    transform-origin: bottom left; /* Set transform origin */
  }
  

.nav-item{
    text-align: center;
}
.nav{

    font-family: 'Epilogue';
    display: block;
}

//md and up for timeline
@include media-breakpoint-up(sm) {
   .nav-item{
        justify-content: center;
        font-family: 'Epilogue';
        display: flex;
   }
    .nav{
        display: flex;
        justify-content: center;
        font-family: 'Epilogue';
        width: 100%;
        padding-left: 40px;
        padding-top: 15px;
        padding-right: 40px;
    }
    .linkObj{
        color:black;
        font-family: 'Epilogue';
        font-size: 30px;
    }
    .nav-link{
        width:fit-content;
        --bs-nav-link-padding-x:3rem;
    }
    

}

//md and up for logo
@include media-breakpoint-up(md) {
    .Logo{
        max-width:300px;
        padding-left: 28px;
    }
  
}


#show{
    visibility: visible;
}
@include media-breakpoint-down(sm){
    #show{
        visibility: visible;
        padding-left: 40px;
        padding-right: 40px;
        padding-top: 10px;
    }
    #gradeY{
        padding-left: 40px;
        padding-right: 40px;
        padding-top: 10px;
        font-size: 35px;
    }

}
