@import url('https://fonts.googleapis.com/css2?family=Archivo+Black&display=swap');
@import url('https://fonts.googleapis.com/css?family=Epilogue');

body {
  margin: 0;
  background-color: #FFF8EE !important;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
body::-webkit-scrollbar{
  display: none;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}


/* navbar*/
.Tabs{
  margin: 5px;
}

.Logo{
  display: inline-block;
  width:100%;
  height: auto;
}


* { box-sizing: border-box; }

body { font-family: sans-serif; }

/* ---- grid ---- */

.grid {
  width: 100%;
}

/* clearfix */
.grid:after {
  content: '';
  display: block;
  clear: both;
}

/* ---- grid-item ---- */

.grid-item {
  width: 100%;
}
.grid-item img {
  display: block;
  max-width: 100%;
  padding: 10px;
}

#navbarScroll::-webkit-scrollbar{
  display: none;
}


/* about me page css */
.aboutPage{
  width: 100%;
  display: flex;
  justify-content: space-between;
}
/*about me text container*/
.txtSide{
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  padding-left: 10px;
  padding-right: 10px;
}

/*header txt*/
#header{
  font-family: 'Archivo Black', sans-serif;
  font-size: 300%;
  color: #3158E2;
}
/*bulk text*/
#bulk{
  font-family: 'Epilogue';
  font-size: 180%;
  width: 80%;
  word-wrap: break-word;
}

.aboutImg{
  display: block;
  padding-left: 40px;
  width: 100%;
}

