@import url('https://fonts.googleapis.com/css2?family=Archivo+Black&display=swap');
@import url('https://fonts.googleapis.com/css?family=Epilogue');

body {
  margin: 0;
  background-color: #FFF8EE !important;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
body::-webkit-scrollbar{
  display: none;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}


/* navbar*/
.Tabs{
  margin: 5px;
}
.About{
  width: 385px;
  height: 84px;
 
  background: url("images/about_button.png") no-repeat;
}
.About:hover{
  background: url("images/about_hover.png") no-repeat;
}

.Home{
  width: 170px;
  height: 86px;
  margin: 4px;
  background: url("images/home_button.png") no-repeat;
}
.Home:hover{
  background: url("images/home_hover.png") no-repeat;
}

#header{
  font-family: 'Archivo Black', sans-serif;
  font-size: 22px;
}

#bulk{
  font-family: 'Epilogue';
}


* { box-sizing: border-box; }

body { font-family: sans-serif; }

/* ---- grid ---- */

.grid {
  width: 100%;
}

/* clearfix */
.grid:after {
  content: '';
  display: block;
  clear: both;
}

/* ---- grid-item ---- */

.grid-item {
  width: 100%;
}
.grid-item img {
  display: block;
  max-width: 100%;
  padding: 10px;
}